<!-- <p>CULO!</p> -->
<div class="container-cards" *ngIf="origine==='Pc'">
  <div class="SensoArtistico">
    <img src="https://i.imgur.com/uMoYbAr.png" style="margin-left: 50px; margin-right: 50px; margin-bottom: 70px; margin-top: 70px; filter: drop-shadow(0px 0px 10px white);">
  </div>
  <div class="contenitore-cards" style="float: left ;">
    <div class="card" *ngFor="let videogame of videogames">
      <div class="card-image" [ngStyle]="{'background-image':'url('+videogame.image+')'}" ></div>
      <div class="card-body">
        <h5 class="card-title" style="color: #605b5bc4;">{{videogame.title}}</h5>
        <p class="card-text">{{videogame.description}}</p>
        <a routerLink="/dettaglio/{{videogame._id}}" class="btn btn-primary" style="background-color: #605b5bc4; border-color: #605b5bc4;">Vedi</a>
      </div>
    </div>
  </div>
</div>
<div class="container-cards" *ngIf="origine==='Xbox'">
  <div class="SensoArtistico">
    <img src="https://i.imgur.com/aq8jCbU.png" style="filter: drop-shadow(0px 0px 10px white);">
  </div>
  <div class="contenitore-cards" style="float: left ;">
    <div class="card" *ngFor="let videogame of videogames">
      <div class="card-image" [ngStyle]="{'background-image':'url('+videogame.image+')'}" ></div>
      <div class="card-body">
        <h5 class="card-title" style="color: #008000c4;">{{videogame.title}}</h5>
        <p class="card-text">{{videogame.description}}</p>
        <a routerLink="/dettaglio/{{videogame._id}}" class="btn btn-primary" style="background-color: #008000c4; border-color: #008000c4;">Vedi</a>
      </div>
    </div>
  </div>
</div>

<div class="container-cards" *ngIf="origine==='Playstation'" style="clear:both">
  <div class="SensoArtistico">
    <img src="https://i.imgur.com/SF61idV.png" style="margin: 86px; filter: drop-shadow(0px 0px 10px white);">
  </div>
  <div class="contenitore-cards" style="float: left ;">
    <div class="card" *ngFor="let videogame of videogames">
      <div class="card-image" [ngStyle]="{'background-image':'url('+videogame.image+')'}" ></div>
      <div class="card-body">
        <h5 class="card-title" style="color: #010143cf;">{{videogame.title}}</h5>
        <p class="card-text">{{videogame.description}}</p>
        <a routerLink="/dettaglio/{{videogame._id}}" class="btn btn-primary" style="background-color: #010143cf; border-color: #010143cf;">Vedi</a>
      </div>
    </div>
  </div>
</div>
<div class="container-cards" *ngIf="origine==='Switch'">
  <div class="SensoArtistico">
    <img src="https://i.imgur.com/QCaBLpO.png" style="margin-left: 50px; margin-right: 50px; margin-bottom: 70px; margin-top: 70px; filter: drop-shadow(0px 0px 10px white);">
  </div>
  <div class="contenitore-cards" style="float: left ;">
    <div class="card" *ngFor="let videogame of videogames">
      <div class="card-image" [ngStyle]="{'background-image':'url('+videogame.image+')'}" ></div>
      <div class="card-body">
        <h5 class="card-title" style="color: #ff0000b0;">{{videogame.title}}</h5>
        <p class="card-text">{{videogame.description}}</p>
        <a routerLink="/dettaglio/{{videogame._id}}" class="btn btn-primary" style="background-color: #ff0000b0; border-color: #ff0000b0;">Vedi</a>
      </div>
    </div>
  </div>
</div>

<div class="container-cards" *ngIf="origine==='all'">
  <div class="container-pagination">
    <div style = "font-size: large; font-weight: 400;">
  <strong>{{videogamesPerPagina}} </strong> videogames  su un totale di <strong>{{videogames.length}}</strong>
    </div>
    <div style="margin-bottom: 30px;" >
      Pagina corrente <strong>{{page}}</strong>
     </div>
  </div>
    <!-- <div class="SensoArtistico">
      <img src="https://i.imgur.com/uMoYbAr.png" style="margin-left: 50px; margin-right: 50px; margin-bottom: 70px; margin-top: 70px;">
    </div> -->
    <ngb-pagination [collectionSize]="videogames.length * 2 + (videogamesPerPagina*2)" [(page)]="page" aria-label="Default pagination" style="float:left; width: 100%; display: flex; justify-content: center;">
    </ngb-pagination>
  <div class="contenitore-cards" style="float: left ;">
    <div class="card" *ngFor="let videogame of videogames| slice : (page * videogamesPerPagina) - videogamesPerPagina : page * videogamesPerPagina">
      <div class="card-image" [ngStyle]="{'background-image':'url('+videogame.image+')'}" ></div>
      <div class="card-body">
        <h5 class="card-title">{{videogame.title}}</h5>
        <p class="card-text">{{videogame.description}}</p>
        <a routerLink="/dettaglio/{{videogame._id}}" class="btn btn-primary">Vedi</a>
      </div>
    </div>
  </div>
  <ngb-pagination [collectionSize]="videogames.length * 2 + (videogamesPerPagina*2)" [(page)]="page" aria-label="Default pagination" style="float:left; width: 100%; display: flex; justify-content: center;" >
  </ngb-pagination>
</div>
