.bg-dark{
  background-color: #029bed !important;
  padding-left: 20px;
.logo{
  border-radius: 25px;
  width: 80px;
  margin-right: 10px;
}
}

.lbg-dark{
  margin-top: -11px;
  background-color: #08405f !important;
  padding-left: 20px;
}

.hbg-dark{
  margin-bottom: -10px;
  background-color: #08405f !important;
  padding-left: 20px;
  z-index: 1;
}

.navbar-text{
  margin-left: 272px;
}

button.navbar-toggler {
  margin-right: 40px;
}

// @media (min-width: 768px) and (max-width: 1220px) {
//   .navbar-collapse.collapse {
//       display: none !important;
//   }
//   .navbar-collapse.collapse.in {
//       display: block !important;
//   }
//   .navbar-header .collapse, .navbar-toggle {
//       display:block !important;
//   }
//   .navbar-header {
//       float:none;
//   }
// }
// @media (min-width: 1200px){
// .navbar-expand-lg {
//   flex-wrap: nowrap;
//   justify-content: flex-start;
// }
// }
