.bg-dark{
  background-color: #029bed !important;
  padding-left: 20px;
.logo{
  border-radius: 25px;
  width: 80px;
  margin-right: 10px;
}
}

.lbg-dark{
  margin-top: -11px;
  background-color: #08405f !important;
  padding-left: 20px;
}

.hbg-dark{
  margin-bottom: -10px;
  background-color: #08405f !important;
  padding-left: 20px;
  z-index: 1;
}

.separatoreTabella{
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.navbar-text{
  margin-left: 300px;
}
.nav-link-special{
  margin-left: 100px;
  font-weight: bold;
}
