.form{

}

.btn-block.mb-4{
  width:100%;
}

.contenitore {
  width: 35%;
  margin: auto;
  padding: 50px;
  border: solid 1px blue;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
